.search-panel{
    position: relative;
    width: 600px; 
    margin: 0 auto;
    background: #F1F3F4 !important;
    border-radius: 5px;
    padding: 0px;
}
.search-panel:focus-within {
    background: #fff !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.searchInput{
    border: 0;
    border: none !important;
    outline: none !important;
    width: 100%;
    font-weight: 100;
    position: absolute;
    z-index: 1000;
    background: transparent !important;
}
.searchInput:focus{
    outline: none !important;
    box-shadow:none !important;
    border: none !important;
    border: 0 !important;
    background: transparent !important;
}
.btn-searchbar{
    color:#999 !important;
}

.searchRow{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.searchCol{
    padding:0;
    color:#999; 
}

.filterPanel{
    width: 600px;
    position: absolute;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}