.pagination{
    margin-top:40;
}
.pagination li a{
    padding: 5px;
    color:#2196f3;
    border: 1px solid #ddd;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
}

.active a{
    background:#333;
    color:#fff !important;

}

.noResults{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#555;
}