.panel{
    background: #fff;
    padding: 60px;
    position: absolute;
    width: 30%;
    height: 400px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.page{
    padding: 0;
    background: rgb(35,131,177);
    background: linear-gradient(135deg, rgba(35,131,177,1) 0%, rgba(35,131,177,1) 50%, rgba(39,141,190,1) 51%, rgba(39,141,190,1) 100%);
    width: 100hh;
    height: 100vh;;
}

.logo{
    width: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom:40px;
    background:#ddd;
    padding: 10px;
    border-radius: 50px;
}